body{
    background-color: #16181f;
    margin: 0;
    padding: 0;
}

.roboto-default {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-variation-settings:
      "wdth" 100;
  }

html{
    background-color: #16181f; 
    font-family: 'Roboto';
    position: relative;
}