body {
	background: #191724;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	-webkit-user-select: none;
	user-select: none;
}

.roboto-default {
	font-family: 'Roboto', serif;
	font-optical-sizing: auto;
	font-variation-settings: 'wdth' 100;
}

html {
	font-family: 'Roboto';
	position: relative;
}
